// Imports -------------------------------------------------------------------

@import "susy";

// Grid ----------------------------------------------------------------------

$total-cols             : 12;
$col-width              : 4em;
$gutter-width           : 1em;
$side-gutter-width      : $gutter-width;

$show-grid-backgrounds  : true;

#new_session {
	@include container;
	// @include susy-grid-background;
	
	#location {
		@include columns(4);
		@include alpha;
	}
	#kite {
		@include columns(4);
	}
	
	#board {
		@include columns(4);
		@include omega;
	}
	
	.field {
		@include full
	}
}